.pie-container {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: 80px;
}

.pie-legend-container {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    gap: 100px;
}